.D2SF_added {
    position: absolute;
    top: 30;
    left: 100px;
    color: #eb4034;
    font-weight: bold;
}

.type_webtoon::after {
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
    background-size: 434px 414px;
    background-position: -224px -209px;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    transform: scale(0.6);
    transform-origin: left;
}

.type_health::after {
    background-image: url(./source/health.svg);
    background-size: 36px 36px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
}

a {
    cursor: pointer;
}

.etc .bt_item {
    height: 38.7px;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
}