.D2SF_added {
    color: #eb4034;
    font-weight: bold;
    text-align: center;
}

.lnb_nav .lnb_nav_more .nav_more {
    display: inline-flex;
    align-items: center;
}

#nx_doctor {
    padding: 0 19px 19px;
    font-size: 14px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-.3em);
    }
}

.jumping-dots {
    display: flex;
    width: 20px;
    justify-content: space-around;
}

.jumping-dots span {
    position: relative;
    animation: jump 1s infinite;
    display: inline-block;
    font-weight: bold;
}

.jumping-dots .dot-1 {
    animation-delay: 200ms;
}

.jumping-dots .dot-2 {
    animation-delay: 300ms;
}

.jumping-dots .dot-3 {
    animation-delay: 400ms;
}

#nx_doctor .cht_list {
    background: #e6fcf0;
    padding: 5px;
    border-radius: 10px;
    height: 300px;
}

#nx_doctor .cht_list li {
    margin: 10px auto;
}

#nx_doctor .cht_txt {
    display: inline-block;
    width: calc(100% - 50px);
    vertical-align: top;
    background: #ffffff;
    padding: 5px 8px;
}

#nx_doctor .cht_user {
    text-align: right;
}

#nx_doctor .cht_doc .cht_txt {
    border-radius: 10px 10px 10px 0;
}

#nx_doctor .cht_user .cht_txt {
    border-radius: 10px 10px 0 10px;
    text-align: right;
    vertical-align: top;
    background: #8debb7;
}

#nx_doctor .cht_txt[data-filled=false] {
    width: auto;
}

#nx_doctor .cht_doc::before {
    content: "";
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    padding: 4px;
    display: inline-block;
    background-image: url('./source/health.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #ffffff;
    border-radius: 50%;
}

#nx_doctor .sel_list {
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
}

#nx_doctor .sel_list li {
    display: inline-block;
    min-width: 50px;
    background: #eeeeee;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    transition: background .3s;
}

#nx_doctor .sel_list li[data-selected=true] {
    background: #8debb7;
    transition: background .3s;
}

#beta {
    width: 22px;
    height: 12px;
    background-image: url('./source/beta.png');
    background-position: -110px -282px;
    background-repeat: no-repeat;
}

#nx_doc_logo {
    margin-right: 5px;
}

#beta {
    margin-left: 3px;
    margin-top: -8px;
    animation: jumps 1s infinite;
}